@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-ExtraLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
