/* Utility Styles */
body {
    margin: 0;
    font-family: 'Poppins';
}

h3 { margin: 0 }
h2 { margin: 0 }

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.color-secondary {
    color: var(--secondary-color);
    font-weight: bold;
}

.color-gray {
    color: var(--dark-gray);
}

.title {
    display: block;
}

.description {
    font-weight: normal;
    line-height: 1.7em;
}

/* Page Styles */
#content {
    min-height: calc(100vh - 8vh - 40px - 2em);
}

#footer {
    background-color: var(--light-gray);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

#footer > a {
    padding: 0 1em;
    color: var(--dark-gray);
}

/* Navigation Bar */
nav {
    height: 8vh;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4em;
}

nav a {
    color: var(--primary-color);
}

nav > #title-icon {
    font-size: 1.6em;
    color: var(--primary-color);
    font-weight: bold;
    font-family: monospace;
}

nav > ul {
    list-style-type: none;
}

/* Main Page Content */
#mainPageContent {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.7em;
}

#mainPageContent > #greetings {
    font-size: 1.3em;
}

#mainPageContent > #introduction {
    font-size: 2.5em;
}

#mainPageContent > #shortDescription {
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 0.099em;
    color: var(--dark-gray);
}

#mainPageContent > #primaryDescription {
    font-size: 0.9em;
}

#mainPageContent > #secondaryDescription {
    line-height: 1em;
    font-size: 0.9em;
    color: var(--dark-gray);
}

#mainPageContent > #icons img {
    padding: 1em 0.5em;
    height: 42px;
}

.container {
    padding: 1em 28vw;
}

.blog-container {
    padding: 1.2em 0;
}

.description {
    font-size: 1.1em;
}

.summary {
    font-size: 1em;
    color: var(--dark-gray);
}

.date {
    font-weight: bold;
    margin-right: 0.5em;
}

.metadata-container {
    display: flex;
    align-items: left;
    flex-direction: row;
    align-items: flex-end;
}

.tag {
    background-color: var(--light-gray);
    color: var(--primary-color);
    border-radius: var(--curviness);
    padding: 5px 7px;
    margin: 10px 2px;
    margin-left: 0;
    font-size: 0.6em;
}

.category {
    display: inline-block;
    background-color: black;
    color: var(--light-gray);
    border-radius: var(--curviness);
    padding: 5px 7px;
    font-size: 0.6em;
}

.btn-primary {
    color: white;
    font-size: 0.8em;
    padding: 0.8em 2em;
    background-color: var(--secondary-color);
    border-radius: var(--curviness);
}

.btn-secondary {
    color: var(--primary-color);
    font-size: 0.8em;
    padding: 0.8em 2em;
    background-color: var(--light-gray);
    border-radius: var(--curviness);
}

#pagination-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}

#pagination-container a {
    padding: 0.5em 1em;
    margin: 0.5em;
}

code {
    background-color: var(--primary-color);
    color: var(--light-gray);
    padding: 0.4em 1em;
    display: inline-block;
    border-radius: 2px;
    margin: 0.5em 0;
}

pre > code {
    background: var(--primary-color);
    border: 1px solid #ddd;
    border-left: 3px solid var(--secondary-color);
    color: var(--light-gray);
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 1em;
    line-height: 1.35;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.list-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 2em;
    font-weight: bold;
}

#post-links-container {
    font-weight: bold;
    margin: 3.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#post-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

p > img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin: 0 auto;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
    #mainPageContent { line-height: 3em }
    #mainPageContent > #greetings { font-size: 1.8em }
    #mainPageContent > #introduction { font-size: 3.2em }
    #mainPageContent > #shortDescription { font-size: 1.1em }
    #mainPageContent > #primaryDescription { font-size: 1.1em }
    #mainPageContent > #secondaryDescription { font-size: 1.1em }
    #mainPageContent > #icons img { height: 52px }

    .description { font-size: 0.92em; }
    pre > code, code { font-size: 1.3em; }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    nav > #title-icon { font-size: 1.1em }
    #mainPageContent { line-height: 3em }
    #mainPageContent > #greetings { font-size: 1.8em }
    #mainPageContent > #introduction { font-size: 3.2em }
    #mainPageContent > #shortDescription { font-size: 1.1em }
    #mainPageContent > #primaryDescription { font-size: 1.1em }
    #mainPageContent > #secondaryDescription { font-size: 1.1em }
    #mainPageContent > #icons img { height: 52px }

    .container { padding: 1em 10vw }
    .description { font-size: 0.85em }
    .summary { font-size: 0.9em }
    pre > code, code { font-size: 1.2em; }
    p > img { width: 100% }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    nav { padding: 0em 0.8em; }
    nav > #title-icon { font-size: 0.9em }
    nav > ul > li > a { font-size: 0.85em }
    #mainPageContent > #primaryDescription { width: 75vw; line-height: normal; padding-bottom: 1em; text-align: center; }

    .container { padding: 1em 6vw }
    .description { font-size: 0.83em }
    .summary { font-size: 0.81em }
    .blog-container > h3 > .title { font-size: 0.8em; }

    #footer > a { font-size: 0.8em }
    #post-links-container { flex-direction: column; }
    p > img { width: 100% }
}