{{ define "main" }}
    <h1 class="title">{{ .Title }}</h1>
    <p class="description">{{ .Description }}</p>
    {{ range .Paginator.Pages.ByPublishDate.Reverse }}
    <div class="blog-container">
        <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <span class="description color-gray">{{ .Description }}</span>
        {{ partial "metadata.html" . }}
        </div>
    {{ end }}
    {{ partial "pagination.html" . }}
{{ end }}