{{ define "main" }}
    <h1 class="color-secondary">{{ .Title }}</h1>
    <h2 class="description color-gray">{{ .Description }}</h2>
    {{ partial "metadata.html" . }}
    <div id="detail-view" class="description">
        {{ .Content }}
    </div>
    <div id="post-links-container">
        <div class="next-post">
            <div id="post-link">
                {{ if .NextPage }}
                Previous Post <a href="{{ .NextPage.Permalink }}?ref=footer">{{ .NextPage.Title | truncate 40 "..." }}</a>
                {{ end }}
            </div>
        </div>
    
        <div class="previous-post">
            <div id="post-link">
                {{ if .PrevPage }}
                Next Post <a href="{{ .PrevPage.Permalink }}?ref=footer">{{ .PrevPage.Title | truncate 40 "..."}}</a>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}