{{ define "main" }}

<h1 class="title">{{ .Title }}</h1>
<span class="description">{{ .Description }}</span>

{{ $baseurl := .Site.BaseURL }}
<div class="list-container">
    <h3 id="title">Categories</h3>
    {{ range $key, $value := .Site.Taxonomies.categories }}
    <a href="{{ $baseurl  }}categories/{{ $key | urlize  }}/index.xml">{{ $key | humanize }}</a>
    {{ end }}
    <a href="{{ $baseurl }}posts/index.xml">All of the above</a>
</div>

<h2 id="title">FYI..</h3>
<ul>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=6HNUqDL-pI8">What is an RSS feed and RSS reader?</a>
    </li>
    <li><a target="_blank" href="https://www.letmegooglethat.com/?q=best+foss+rss+readers">Some Best RSS Readers?</a>
    </li>
</ul>


{{ end }}