<div id="footer">
    <a href="https://git.velansalis.dev/velansalis/velansalis.dev" target="_blank">Source v1.0</a>
    <a href="https://git.velansalis.dev/velansalis/itsybitsy-hugo-theme" target="_blank">Built with <span
            class="color-secondary">ItsyBitsy</span> Theme for Hugo</a>
</div>