<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{/* Add CSS */}}
    {{ range .Site.Params.css -}}
        <link rel="stylesheet" href="{{ . | relURL }}" type="text/css">
    {{- end }}
    
    {{/* Add Favicons */}}
    <link rel="icon" type="image/png" href="favicon.ico">

    {{/* Add Title */}}
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>