{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}

{{/* <i data-feather="calendar"></i> */}}
<div class="metadata-container">
    {{ if ne (.PublishDate.Format $dateFormat) "Jan 1, 0001" }}
    <time datetime="{{ $dateTime }}" class="date">{{ .PublishDate.Format $dateFormat }}</time>
    {{ end }}
    <div>
        {{ with .Params.categories }}
        <span data-feather="category">
            {{ range . }}
            {{ $href := print (absURL "categories/") (urlize .) }}
            <a class="category" href="{{ $href }}">{{ . }}</a>
            {{ end }}
        </span>
        {{ end }}
        {{ with .Params.tags }}
            <span data-feather="tag">
            {{ range . }}
                {{ $href := print (absURL "tags/") (urlize .) }}
                <a class="tag" href="{{ $href }}">{{ . }}</a>
            {{ end }}
            </span>
        {{ end }}
    </div>
</div>