<nav>
    <a href="/" id="title-icon">/home/<span class="color-secondary">velansalis</span> $</a>
    <ul>
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
</nav>