{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}

{{/* Pagination */}}
<div id="pagination-container">
    {{ if $pag.HasPrev }}
    <a href="{{ $pag.Prev.URL }}" rel="prev" class="btn-primary">Prev</a>
    {{ end }}
    {{ range $pag.Pagers }}
    {{ if eq . $pag }}
    <a href="{{ .URL }}" class="btn-secondary color-secondary">{{ .PageNumber }}</a>
    {{ else }}
    <a href="{{ .URL }}" class="btn-secondary">{{ .PageNumber }}</a>
    {{ end }}
    {{ end }}

    {{ if $pag.HasNext }}
    <a href="{{ $pag.Next.URL }}" rel="next" class="btn-primary">Next</a>
    {{ end }}
</div>
{{ end }}