{{ define "main" }}
    <div id="mainPageContent">
        <span id="greetings">Hello World,</span>
        <span id="introduction">
            <span class="color-secondary">Velan</span> here!
        </span>
        <span id="shortDescription">MUSICIAN | MINIMALIST | TECHIE</span>
        <span id="primaryDescription">in pursuit of finding great <span class="color-secondary">happiness</span> in
            little
            things in life</span>
        <span id="secondaryDescription">how! you ask? CURIOSITY!</span>
        <div id="icons">
            <a href="/subscribe"><img src="icons/rss.png" alt=""></a>
            <a href="https://git.velansalis.dev/velansalis" target="_blank"><img src="icons/gitea.png" alt=""></a>
            <a rel="me" href="https://fosstodon.org/@_velansalis" target="_blank"><img src="icons/mastodon.png" alt=""></a>
        </div>
    </div>
{{ end }}